<%- include("partials/header"); %>

	<!-- title section -->


<section id="page">

	<div id="projectContainer" class="outer-wrapper">

		<div id="projectSlider" class="wrapper" style="top: 200px">


			<% images.forEach(function(image) { %>

        <article class="slide projectItem" data-background="<%= image.color %>" >

						<!-- <h1 class="dateStyle">
							<%= image.date %>
						</h1> -->

						<img class="imageFrame" data-background="<%= image.color %>" data-opacity="1" src="/images/<%= image.image %>">

				</article>

			<%  }); %>


  <article class="slide projectItem">
    <!-- <button type="button" class="btn btn-outline-secondary" name="button" href="#" id="scroll">BACK TO START</button> -->
    <img id="topBtn" class="arrow" src="/images/arrow.png">

  </article>


		</div>

	</div>

</section>

			<div class="videoBox gradient">
				<!-- <video id="hero" loop="loop" muted="muted" src="/videos/Clouds3reduced.mov" autoplay="autoplay" poster="posterimage.jpg"></video> -->
				<!-- <iframe class="fullscreen" loop muted autoplay src="https://player.vimeo.com/video/422059873" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen autoplay poster="posterimage.jpg"></iframe> -->
				<!-- <p><a href="https://vimeo.com/422059873">Clouds2</a> from <a href="https://vimeo.com/user81480248">Louis Garavaglia</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
			</div>


			<!-- footer section -->
			<%- include("partials/footer"); %>
